#log {
  overflow-y: scroll;
  height: 400px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.log-entry {
  display: block;
  color: black;
  background-color: white;
}

.monospace-font {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.preview-canvas {
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  /* border: 1px solid #ccc; */
  width: 100%;
  height: 100%;
}

.logo-small {
  width: 79px;
  height: 79px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/plottair-sm.png");
  background-size: 79px 79px;
}

@media(max-width:767px) {
  .xs-inline-block {
    display: inline-block;
  }

  body {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* .alert-info {
  -webkit-animation: fadeOut 2s forwards;
  animation: fadeOut 2s forwards;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

