#log {
  overflow-y: scroll;
  height: 400px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.log-entry {
  display: block;
  color: black;
  background-color: white;
}

.monospace-font {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
