<canvas id="canvas" class="preview-canvas"></canvas>

<script>
  let hpgl = `<%= raw @hpgl %>`;
  var canvas = document.getElementById('canvas');
  let preview = new HpglPreview(canvas);
  preview.batch(hpgl);
</script>

