<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plott it like it's 1984">
    <meta name="author" content="">

    <meta property="og:type" content="website">
    <meta property="og:title" content="plottair.local">
    <meta property="og:url" content="http://plottair.local">
    <meta property="og:image" content="http://www.nothere.png">
    <meta property="og:description" content="Plott it like it's 1984">

    <title>Plottair</title>
    <link rel="icon" href="<%= static_path(@conn, "/favicon.ico") %>">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/fav/favicon-16x16.png") %>" sizes="16x16" />
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/fav/favicon-32x32.png") %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/fav/favicon-96x96.png") %>" sizes="96x96" />
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/fav/favicon-128.png") %>" sizes="128x128" />
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/fav/favicon-196x196.png") %>" sizes="196x196" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= static_path(@conn, "/fav/apple-touch-icon-57x57.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= static_path(@conn, "/fav/apple-touch-icon-114x114.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= static_path(@conn, "/fav/apple-touch-icon-72x72.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="f<%= static_path(@conn, "/fav/apple-touch-icon-144x144.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= static_path(@conn, "/fav/apple-touch-icon-60x60.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= static_path(@conn, "/fav/apple-touch-icon-120x120.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= static_path(@conn, "/fav/apple-touch-icon-76x76.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= static_path(@conn, "/fav/apple-touch-icon-152x152.png") %>" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="<%= static_path(@conn, "/fav/mstile-144x144.png") %>" />
    <meta name="msapplication-square70x70logo" content="<%= static_path(@conn, "/fav/mstile-70x70.png") %>" />
    <meta name="msapplication-square150x150logo" content="<%= static_path(@conn, "/fav/mstile-150x150.png") %>" />
    <meta name="msapplication-wide310x150logo" content="<%= static_path(@conn, "/fav/mstile-310x150.png") %>" />
    <meta name="msapplication-square310x310logo" content="<%= static_path(@conn, "/fav/mstile-310x310.png") %>" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/phoenix.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="<%= static_path(@conn, "/js/phoenix.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/builder.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/preview.js") %>"></script>
    
  
    <div class="container">
      <header class="header">
        <nav role="navigation" class="xs-inline-block">
          <ul class="nav nav-pills pull-right">
            <li><%= link "Console", to: page_path(@conn, :console), class: "nav-link" %></li>
            <li><%= link "HPGL", to: page_path(@conn, :hpgl), class: "nav-link" %></li>
            <li role="presentation" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Generators <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link "Hello World", to: page_path(@conn, :hello), class: "nav-link" %></li>
                <li><%= link "Triangulation", to: page_path(@conn, :triangulation), class: "nav-link" %></li>
              </ul>
            </li>
            <%= if Mix.env == :dev do %>
              <li><%= link "Debug", to: page_path(@conn, :debug), class: "nav-link" %></li>
            <% end %>
          </ul>
        </nav>
        <span class="logo hidden-xs"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
